.word-row {
  display: flex;
  gap: 1px;
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: center;
  justify-content: center 

}

.letter {
  display: flex;
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  margin: 0 2px;
  font-size: 24px;
  font-weight: bold;
  border: 2px solid #000;
  border-radius: 5px;
  text-align: center;
  transition: background-color 0.3s ease;
}


.letter.correct {
  background-color: rgba(11, 246, 152, 0.949);
  color: rgba(6, 37, 23, 0.822);
}

.letter.present {
  background-color: yellow;
  color: rgb(255, 255, 255);
}

.letter.absent {
  background-color: gray;
  color: white;
}

.letter.wrong {
  background-color: red;
  color: white;
}

