.word-row {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.letter {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
  font-size: 24px;
  font-weight: bold;
  border: 2px solid #000;
}

.letter-input{
    width: 30px;
    height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    font-size: 20px, bold, sans-serif;
    font-weight: bold;
    border: 1px solid #6fa3a2;
    border-radius: 5px;
    text-align: center;
}

.letter.correct {
  background-color: rgba(11, 246, 152, 0.949);
  color: rgba(6, 37, 23, 0.822);
}

.letter.present {
  background-color: yellow;
  color: rgb(255, 255, 255);
}

.letter.absent {
  background-color: gray;
  color: white;
}

.letter.wrong {
  background-color: red;
  color: white;
}

